<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'>朝夕家园是一个不以营利为宗旨和目的，旨在为组织覆盖范围内的工人、快递员等普通社会劳动者子女提供一般义务看护服务的非盈利组织。
</div>
</div>
</section>